<script>
$("#checkAll").click(function(){
    $('input:checkbox').not(this).prop('checked', this.checked);
});
</script>

<div class="tab-pane" id="paniere"><!-- PANIERE -->
    
  <div class="basket-container" ng-repeat="catalog_data in basket.pm.get_baskets() | orderBy: 'order'">

      <div class="ord-ord-title">{{ catalog_data.title }}</div>
        <div class="searchbar">
            <span class="font-searchbar"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="searchbar-text" id="search-bar" placeholder="Cerca tra i prodotti" ng-model="searchQuery"/>       
        </div> 
        <div class="imgpdf"> </div>

    <!--
    <form ng-controller="FrmPaniereController"> 
        <button ng-click="basket.addtoCart();" class="def-btn" type="submit">
            <span class="glyphicon glyphicon-shopping-cart"></span>Aggiorna paniere
        </button>
    -->

    <table class="table gas"> 
        <thead ng-include=" 'components/basket/catalog_header.html' ">
        </thead>
        <tbody ng-hide="basket.dataLoaded">
            <tr>
                <td colspan="8">
                    <p style="text-align:center">
                    Aspetta che carico il paniere... <i class="fa fa-spinner fa-spin"></i>
                    </p>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="basket.pm.basket_empty"> 
            <tr>
                <td colspan="8">
                <p style="text-align:center">Il paniere è vuoto </p>
                </td>
            </tr>
            <tr ng-show="basket.dataLoaded" ng-repeat="item in catalog_data.products | filter: searchQuery" 
                class="{{item.order_state}}" ng-include=" 'components/basket/catalog_row.html' "
            >
            </tr>
        </tbody>

        <tfoot class="table total">
            <tr>
                <td> Totale previsto: </td>  
                <td class="tableprice"> <b>€ {{ basket.pm.getTotal(catalog_data.products) }}</b> </td>    
            </tr>    
        </tfoot>

    </table>

<!--
        </form>
--> 
  </div> <!-- END basket container -->

</div>
