
<!-- <td data-title="image" class="tdprod">{{item.id}}</td> -->
<td data-title="image" class="tdprod">{{item.order_shortname}}</td>  
<td data-title="image" class="tdprod">{{item.supplier}}</td>  
<td data-title="image" class="tdprod">{{item.name}}</td>  
<td data-title="image" class="tdprice">{{item.price|currency:"€"}}</td> 
<td data-title="add_cart" class="tdprod" style="width:10%;" ng-show="item.can_update">
    <input type="hidden" id="form-{{$index}}-id" name="form-{{$index}}-id"/>
    <input type="hidden" id="form-{{$index}}-gsop_id" name="form-{{$index}}-gsop_id" value="{{item.id}}"/>
    <input type="hidden" id="form-{{$index}}-ordered_price" name="form-{{$index}}-ordered_price"  value="{{item.price}}"/>
    <input type="hidden"  name="form-{{$index}}-ordered_amount" id="form-{{$index}}-ordered_amount" value="{{item.quantity}}"/>
    <input type="hidden" name="form-{{$index}}-gm_id" id="form-{{$index}}-gm_id" value="{{gm.id}}"/>
    <div class="input-group">
        <span class="opcart_left menu_links" ng-click="basket.pm.decrement(item);">
            <span class="glyphicon glyphicon-minus"></span>
        </span>
    <input type="text" class="form-control" ng-blur="basket.pm.change(item);" ng-model="item.quantity" name="form-{{$index}}-ordered_amount" id="form-{{$index}}-ordered_amount"/>
        <span class="opcart_right menu_links" ng-click="basket.pm.increment(item);">
            <span class="glyphicon glyphicon-plus"></span>
        </span>
    </div> 
</td> 
<td data-title="image" class="tdprod" ng-show="!item.can_update">{{item.quantity}}</td> 
<td class="tdprice"> {{item.quantity*item.price|currency:"€"}}</td>
<td class="tdprice">
    <fieldset ng-show="item.can_update">
        <input name="checkbox_{{$index}}" id="checkbox_{{$index}}"
            ng-click="basket.toggleSelection($index)"
            type="checkbox">
               
    </fieldset>
</td>
